<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Пропущенный период</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
<div class="w3-container">
  <div class="w3-container">
    <h1>Пропущенный период</h1>
  </div>

<!--  Long id;-->
<!--  long employeeId;-->
<!--  Date startDate;-->
<!--  Date finishDate;-->
<!--  boolean paid;-->
<!--  String comment;-->
  <p>
    <label>Сотрудник</label>
    <label class="w3-input"  type="text" th:text="${name}"></label>
  <p>
    <label class="w3-red" th:if="${errorMessage}" th:text="${errorMessage}"></label>


  <form class="w3-container w3-border w3-border-cyan" action="#" th:action="@{/salary/saveAbsence}" th:object="${absence}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{employee}" />

    <p>
      <label>Начало периода отсутствия</label>
      <input class="w3-border"  type="date" th:field="*{startDate}" placeholder="Введите начальную дату отсутствия" value="" >
<!--      <input class="w3-input w3-border"  type="date" th:field="#dates.format(*{startDate}, 'dd-MMM-yyyy')}" placeholder="Введите начальную дату отсутствия" value="" >-->
      <label class="w3-red" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">startDate Error</label>
    <p>
      <label>Конец периода отсутствия</label>
      <input class="w3-border"  type="date" th:field="*{finishDate}" placeholder="Введите конечную дату отсутствия" value="" >
      <label class="w3-red" th:if="${#fields.hasErrors('finishDate')}" th:errors="*{finishDate}">finishDate Error</label>
    <p>
      <input type="checkbox" th:field="*{paid}" value="true" />
      <label th:for="*{paid}"> Оплачиваемый пропуск работы </label>
    <p>
    <label>Введите комментарий</label>
    <input class="w3-input w3-border"  type="text" th:field="*{comment}" placeholder="Введите комментарий" value="" >
    <label class="w3-red" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">comment Error</label>
    <p>
      <button class="w3-btn w3-indigo w3-border w3-round-large" type="submit"> Сохранить </button>
    <p>
  </form>
  <p>
    <a class="w3-btn w3-blue w3-border w3-round-large" th:href="@{/salary/absenceDays/{id}(id=${absence.employee.id})}"> Не сохранять. Вернуться к пропущенным дням</a>
  </p>
</div>
</body>

</html>