<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список сотрудников</title>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-border">
  <div class="w3-container w3-dark">
    <h1>Список сотрудников</h1>
  </div>

  <a class="w3-button w3-gray w3-round-large" href="main">Вернуться на главную страницу</a>

  <p>
    <a id="newEmployee" class="w3-btn w3-border w3-round-large" href="/salary/newEmployee"> Прием на работу </a>



  <table border="1" class = "w3-table-all w3-bordered w3-striped w3-border test w3-hoverable">
    <thead>
    <tr>
      <th colspan="8">

        <input type="text" id="name" name="name" th:attr="value=${name}" placeholder="Введите сюда часть имени (если не заполнено, ищутся все имеющиеся)" class="w3-input">
        <p>
          <button id="button" class="w3-btn w3-border w3-round-large"> Нажмите для поиска по части имени </button>
          <script>
                    button.onclick = function() {
                       window.location.href = "?name=" + document.getElementById("name").value;
                    };
                </script>

          <a class="w3-btn w3-border w3-round-large" href="employees" >Стереть фильтр и показать всех сотрудников</a>
        <p>
      </th>
    </tr>
    <tr>
      <th>Табельный номер</th>
      <th>Полное имя</th>
      <th>Должность</th>
      <th>Оклад</th>
      <th>Дата приема на работу</th>
      <th>Дата увольнения</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
      <td th:text="${employee.tableNumber}"></td>
      <td th:text="${employee.fullName}"></td>
      <td th:text="${employee.position}"></td>
      <td th:text="${employee.wage}"></td>
      <td th:text="${employee.hireDate}"></td>
      <td th:text="${employee.resignDate}"></td>
      <td><a th:href="@{editEmployee/{id}(id=${employee.id})}" class="w3-btn w3-border w3-round-large ">Изменить</a></td>
      <td><a th:href="@{awards/{id}(id=${employee.id})}" class="w3-btn w3-border w3-round-large ">Надбавки</a></td>
      <td><a th:href="@{absenceDays/{id}(id=${employee.id})}" class="w3-btn w3-border w3-round-large ">Пропущенные дни</a></td>
      <td><a th:href="@{resignEmployee/{id}(id=${employee.id})}" class="w3-btn w3-border w3-round-large">Уволить</a></td>
    </tr>
    </tbody>
  </table>

<!--  <div class="w3-border" th:if="${totalPages > 1}">-->
<!--    <div class="w3-container">-->
<!--      Всего записей: [[${totalItems}]]-->
<!--    </div>-->
<!--    <p>-->
<!--    <div class="w3-container w3-bar">-->
<!--                <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--                    <a class="w3-button" th:if="${currentPage != i}" th:href="@{'/active/?currentPage=' + ${i}}">[[${i}]]</a>-->
<!--                    <span class="w3-button" th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;-->
<!--                </span>-->
<!--    </div>-->
<!--    <p>-->
<!--    <div class="w3-container">-->
<!--      <a class="w3-button w3-round-large" th:if="${currentPage < totalPages}" th:href="@{'/active/?currentPage=' + ${currentPage + 1}}">Следующая страница</a>-->
<!--      <a class="w3-button w3-round-large" th:if="${currentPage < totalPages}" th:href="@{'/active/?currentPage=' + ${totalPages}}">Последняя страница</a>-->
<!--    </div>-->
<!--  </div>-->





</div>
</body>
</html>