<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вывод ведомости</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-border">
    <div class="w3-container w3-dark">
        <h1>
            <p>Вывод ведомости за <label type="text" th:text="${monthYear}"></label> </p>
        </h1>
    </div>

    <a class="w3-btn w3-blue w3-round-large" href="/salary/main">Вернуться на главную страницу</a>

    <table border="1" class = "w3-table-all w3-bordered w3-striped w3-border test w3-hoverable">
        <thead>
        <tr>
            <th colspan="10">

                <input type="date" id="date" name="date" th:attr="value=${date}">
                <p>
                    <button id="button" class="w3-btn w3-border w3-round-large"> Нажмите для формирования ведомости </button>
                    <script>
                    button.onclick = function() {
                       window.location.href = "?date=" + document.getElementById("date").value;
                    };
                </script>

                <p>
            </th>
        </tr>
        <tr>
            <th>Полное имя</th>
            <th>Оклад</th>
            <th>Отработанные дни</th>
            <th>Отсутствие</th>
            <th>из них больничный</th>
            <th>Надбавки</th>
            <th>Зарплата</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${list}">

            <td th:text="${row.fullName}"></td>
            <td th:text="${#numbers.formatDecimal(row.wage, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td th:text="${row.workingDays}"></td>
            <td th:text="${row.absenceDays}"></td>
            <td th:text="${row.sickDays}"></td>
            <td th:text="${#numbers.formatDecimal(row.awardSum, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(row.salary, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>

          </tr>
        </tbody>
    </table>


</div>
</body>
</html>