<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-border">
    <div class="w3-container w3-dark">
        <h1>Главная страница</h1>
    </div>

    <a class="w3-button w3-indigo  w3-round-large" href="/salary/list">Вывод ведомости</a>
    <a class="w3-button w3-indigo  w3-round-large" href="/salary/employees">Список сотрудников</a>
    <a class="w3-button w3-indigo  w3-round-large" href="/salary/settings">Настройки</a>
</div>

</body>
</html>