<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Редактирование настроек</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
<div class="w3-container">
  <div class="w3-container">
    <h1>Редактирование настроек</h1>
  </div>

  <form class="w3-container w3-border w3-border-cyan" action="#" th:action="@{/salary/saveSettings}" th:object="${settings}" method="POST">
    <p>
      <label>Ставка подоходного налога</label>
      <input class="w3-input w3-border"  type="number" th:field="*{taxRate}" placeholder="Введите ставку подоходного налога"  value="" >
      <label class="w3-red" th:if="${#fields.hasErrors('taxRate')}" th:errors="*{taxRate}">taxRate Error</label>
    <p>
      <label>В период болезни работнику начисляется (проценты)</label>
      <input class="w3-input w3-border"  type="number" th:field="*{sickPercent}" placeholder="Введите процент начисления в период болезни" value="" >
      <label class="w3-red" th:if="${#fields.hasErrors('sickPercent')}" th:errors="*{sickPercent}">sickPercent Error</label>
    <p>
      <button class="w3-btn w3-indigo w3-border w3-round-large" type="submit"> Сохранить </button>
    <p>
  </form>
  <p>
    <a class="w3-btn w3-blue w3-border w3-round-large" th:href="@{/salary/main}"> Возвратиться на главную страницу</a>
  </p>
</div>
</body>

</html>
